<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="{%url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>


<h1 style="text-align:center; font-size: 3em"> 안녕하세요 제가 궁금하셨나요?</h1>
<br>
<p> 열심히 공부하고 해외탐방 잘 다녀오겠습니다.</p>
<p> 아쉬움 없는 한 학기가 되기 위해 남은 기간 열심히 노력하겠습니다.</p>

<a href="{%url 'home' %}"> Home으로 돌아가기 </a>